.xp-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
}

.xp-section-left h1 {
    font-size: 5rem;
}

.xp-section-left h2 {
    font-size: 2.5rem;
    font-weight: 100;
}

.xp-section-left h3 {
    font-size: 2rem;
    font-weight: 300;
}

.xp-section-right {
    align-items: center;
    background-color: var(--blue-dark);
    border-radius: 50%;
    color: var(--gray-bright);
    display: flex;
    font-size: 5rem;
    height: 150px;
    justify-content: center;
    width: 150px;
}