.language {
    display: grid;
    gap: 10px;
}

.language h1 {
    font-size: 3rem;
}

.language h2 {
    font-size: 2rem;
    font-weight: 300;
}

.language-bar {
    border-radius: 5px;
    width: 10px;
    height: 100px;
}

.blue {
    background: linear-gradient(to top, #2685b9, #75c0e9);
}

.orange {
    background: linear-gradient(to top, #b97426, #e9a575);
}

.green {
    background: linear-gradient(to top, #26b94b, #79e975);
}

.purple {
    background: linear-gradient(to top, #7926b9, #9675e9);
}

.yellow {
    background: linear-gradient(to top, #b2b926, #dae975);
}

.language-details {
    display: flex;
    gap: 50px;
}

.languages-section {
    display: grid;
    gap: 50px;
    padding-bottom: 100px;
}

.languages-section-row {
    align-items: center;
    border-top: 1px solid var(--gray-dark);
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.languages-section-title {
    display: grid;
    gap: 10px;
    margin-top: 50px;
}

.languages-section-title h1 {
    font-size: 4rem;
    font-weight: 500;
}

.language-right {
    font-size: 2rem;
}