.circle1 {
    background: linear-gradient(to bottom right, var(--pink), transparent);
    border-radius: 50%;
    height: 400px;
    position: absolute;
    transform: translate(-150px, -100px);
    width: 400px;
    z-index: 3;
}

.circle2 {
    background: linear-gradient(to bottom left, var(--cyan), transparent);
    border-radius: 50%;
    height: 350px;
    position: absolute;
    transform: translate(175px, -50px);
    width: 350px;
    z-index: 2;
}

.circle3 {
    background: linear-gradient(to top, var(--purple), transparent);
    border-radius: 50%;
    height: 300px;
    position: absolute;
    transform: translate(0, 150px);
    width: 300px;
    z-index: 1;
}

.venn-section-circle {
    align-items: center;
    display: grid;
    justify-content: center;
}

.venn-section-circle h1 {
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
}

.venn-section-container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 400px;
}