/* BIG SCREENS */
@media only screen and (min-width: 1200px) {
    .cta-quote {
      font-size: 1.25rem;
      max-width: 700px;
    }
}

.cta-section {
    align-items: center;
    display: grid;
    gap: 50px;
    justify-items: center;
    padding: 5vw 0;
  }
  
.cta-quote {
    text-align: justify;
}