/* Small Screens */
@media screen and (max-width: 1250px) {
    .hero-section {
        background:
        linear-gradient(to right, rgba(0,0,0,.8), rgba(0,0,0,.8)),
        url('./assets/background.png');
        justify-content: center;
    }
    .hero-section h1 {
        font-size: 12vw;
    }
    .hero-section h2 {
        font-size: 3vw;
    }
    .hero-section-cta button {
        font-size: 3.5vw;
        padding: 20px 25px;
    }
}

/* Big Screens */
@media screen and (min-width: 1250px) {
    .hero-section {
        background: url('./assets/background.png');
    }
    .hero-section h1 {
        font-size: 5rem;
    }
    .hero-section h2 {
        font-size: 1.25rem;
    }
    .hero-section-cta button {
        font-size: 1rem;
        padding: 20px 75px;
    }
}

.hero-section {
    align-content: center;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    gap: 25px;
    height: 100vh;
    padding: 0 10vw;
}

.hero-section a {
    color: unset;
}

.hero-section h1 {
    font-weight: 400;
}

.hero-section h1 span {
    color: var(--accent-light);
}

.hero-section h2 {
    font-weight: 300;
}

.hero-section-cta {
    display: flex;
    gap: 25px;
    margin-top: 20px;
}

.hero-section-cta button {
    border: solid 1px var(--gray-bright);
    font-weight: 300;
}

.hero-section-cta button:hover {
    border-color: var(--accent-bright) !important;
    color: var(--accent-bright);
}

.hero-section-cta .cta button {
    border-color: var(--accent-light);
}