.contact-fields {
    display: grid;
    justify-items: center;
    gap: 50px;
}

.contact-fields button {
    border-radius: 25px;
    font-size: 4rem;
    font-weight: 700;
    padding: 25px 50px;
}

.contact-form {
    display: grid;
    gap: 100px;
}

.contact-form h1 {
    font-size: 4rem;
}

.contact-form-section {
    color: var(--gray-bright);
    padding: 50px;
}

.contact-row {
    display: grid;
    gap: 25px;
}

.contact-row h2 {
    font-size: 3rem;
}

.contact-row h2 sup {
    color: var(--primary-blue);
    font-size: 60%;
    padding-right: 10px;
}

.contact-row input, .contact-row textarea {
    background-color: var(--blue-darker);
    border-radius: 25px;
    color: var(--gray-bright);
    font-family: unset;
    font-size: 2.5rem;
    padding: 25px;
    width: 600px;
}

.contact-row input:focus, .contact-row textarea:focus {
    outline: solid 1px var(--blue-bright);
}