@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

:root {
  --gray-dark: #2A2A2A;
  --gray-medium: #777777;
  --gray-light: #EEEEEE;
  --primary-dark: #5f55ab;
  --primary-light: #f43b47;
}

/* SMALL SCREENS */
@media only screen and (max-width: 1200px) {
  button {
    font-size: 5vw;
  }
  h1 {
    font-size: 10vw; 
  }
  h2, h3 {
    font-size: 8vw; 
  }
  h4 {
    font-size: 5vw;
  }
  i {
    font-size: 10vw;
  }
  p {
    font-size: 4vw;
  }
  .blip {
    display: none;
  }
  .hero-banner {
    background: none !important;
  }
}

/* BIG SCREENS */
@media only screen and (min-width: 1200px) {
  button {
    font-size: 1rem;
  }
  h1 {
    font-size: 5rem; 
  }
  h2 {
    font-size: 3.5rem; 
  }
  h3 {
    font-size: 3rem;
  }
  h4 {
    font-size: 1.75rem;
  }
  i {
    font-size: 3vw;
  }
  .hamburger-menu {
    display: none;
  }
  .hero-quote {
    font-size: 1.25rem;
    max-width: 700px;
  }
  .transition-section {
    font-size: 1.25rem;
    max-width: 35vw;
  }
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;  
}

body {
  font-family: 'Roboto', sans-serif;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

button {
  background: none;
  border: none;
  font-weight: 900;
}

button:hover {
  cursor: pointer;
}

nav a {
  color: var(--gray-dark);
  font-weight: 900;
  text-decoration: none;
}

nav ul {
  display: flex;
  gap: 50px;
  list-style: none;
}

.bar-notification {
  align-items: center;
  display: flex;
  gap: 25px;
  justify-content: center;
  padding: 25px 25px;
  text-align: justify;
}

.bar-notification button {
  border: solid 1px var(--gray-light);
  border-radius: 10px;
  color: var(--gray-light);
  padding: 5px 10px;
}

.bg-code {
  background: url(../images/Code\ Banner.png);
  background-attachment: fixed;
  background-size: contain;
  color: var(--gray-light);
}

.bg-dark {
  background-color: var(--gray-dark);
  color: var(--gray-light);
}

.bg-gradient {
  background: linear-gradient(to right, var(--primary-dark), var(--primary-light));
  color: var(--gray-light);
}

.bg-light {
  background-color: var(--gray-light);
  color: var(--gray-dark);
}

.container {
  display: grid;
  margin: 0 50px;
}

.border-gradient {
  max-width: 100px;
}

.border-gradient-inner {
  margin: 3px;
  padding: 10px;
  text-align: center;
}

.hamburger-menu {
  font-size: 2.5rem;
}

.hero-banner {
  align-items: center;
  background-color: green;
  background: url(../images/Banner.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  gap: 50px;
  padding-bottom: 7.5vw;
  padding-top: 7.5vw;
}

.hero-links {
  align-items: center;
  display: flex;
  gap: 25px;
}

.hero-links a {
  color: var(--gray-dark);
}

.hero-links button {
  padding: 15px 25px;
}

.hero-quote {
  text-align: justify;
}

.hero-slogan h1 {
  font-weight: 900;
}

.inactive {
  color: var(--gray-medium);
  cursor: not-allowed;
  text-decoration: line-through;
}

.j-right {
  background-color: green;
  justify-content: right;
  justify-items: right;
  text-align: right;
}

.languages-banner {
  padding: 7.5vw 20px;
  text-align: center;
}

.logo h3 {
  font-weight: 900;
}

.separator {
  height: 3px;
}

.t-gradient {
  background: linear-gradient(to right, var(--primary-dark), var(--primary-light));
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.top-bar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}

.transition-banner {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
  padding: 10vw 0;
}

.transition-section {
  display: grid;
  gap: 25px;
}

.transition-section h4 {
  font-weight: 300;
}

.transition-section i {
  font-size: 1rem !important;
}

.transition-section p {
  font-weight: 300;
  text-align: justify;
}