/* Regular Screens */
@media screen and (min-width: 1000px) {
    .loading br {
        display: none;
    }
    .loading-section h2 {
        font-size: 2vw;
    }
}

/* Small Screens */
@media screen and (max-width: 1000px) {
    .loading-section h2 {
        font-size: 5vw;
    }
}

.loading {
    display: grid;
    gap: 50px;
    justify-items: center;
    padding: 500px 0;
}

.loading-section {
    align-content: center;
    background: radial-gradient(var(--gray-light), var(--gray-darkest));
    background-size: cover;
    display: grid;
    justify-content: center;
}

.loading-section h1 {
    font-size: 8vw;
}

.loading-section h1, .loading-section h2 {
    color: var(--gray-bright);
    text-align: center;
    text-shadow: var(--gray-medium) 0 0 5px, var(--gray-medium) 0 0 25px;
}

.loading-section h2 {
    font-weight: 300;
}

.loading-section span {
    font-weight: 700;
}

.progress-container {
    align-items: center;
    border: solid var(--gray-light);
    border-radius: 75px;
    display: grid;
    height: 150px;
    justify-items: center;
    max-width: 1000px;
    width: 80vw;
}

.progress-back {
    background-color: var(--gray-darker);
    border-radius: 75px;
    height: 80%;
    width: 97%;
}

.progress-inner {
    align-items: center;
    background-color: var(--gray-light);
    border-radius: 75px;
    display: grid;
    justify-items: center;
    height: 100%;
    width: 75%;
}

.progress-inner h3 {
    color: var(--gray-bright);
    font-size: 5vw;
    font-weight: 300;
}