/* Small Screens */
@media screen and (max-width: 1250px) {
    .top-bar-section {
        font-size: 5vw;
    }
}

/* Big Screens */
@media screen and (min-width: 1250px) {
    .top-bar-section {
        font-size: 1.5rem;
    }
}

.top-bar-section {
    align-items: center;
    background-color: var(--gray-dark);
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: 25px;
    position: absolute;
    right: 0;
    top: 0;
}

.top-bar-section a {
    color: var(--gray-bright);
}

.top-bar-section a:hover {
    color: var(--accent-bright);
}