/* Regular Screens */
@media screen and (min-width: 1000px) {
    .leap br {
        display: none;
    }
    .leap-section {
        background: url('./assets/falling.svg');
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: 600px;
    }
    .leap-section h2 {
        font-size: 2vw;
    }
}

/* Small Screens */
@media screen and (max-width: 1000px) {
    .leap-section {
        background: url('./assets/falling.svg');
        background-position: center 80%;
        background-repeat: no-repeat;
        background-size: 500px;
    }
    .leap-section h2 {
        font-size: 5vw;
    }
}

.leap {
    background: linear-gradient( 180deg, var(--gray-bright) 1%, rgba(0, 0, 0, 0) 100%);
    padding: 500px 0;
}

.leap-section {
    align-content: center;
    color: var(--gray-bright);
    display: grid;
    justify-content: center;
}

.leap-section h1 {
    font-size: 8vw;
}

.leap-section h1, .leap-section h2 {
    text-align: center;
}

.leap-section h2 {
    font-weight: 300;
}

.leap-section span {
    font-weight: 700;
}