@media screen and (max-width: 1000px) {
    .logo {
        font-size: 7.5vw;
    }
    .top-bar .submit-button {
        display: none;
    }
}

.top-bar {
    align-items: center;
    background-color: var(--gray-bright);
    display: flex;
    justify-content: space-between;
    padding: 25px 50px;
    position: sticky;
    top: 0px;
}