/* BIG SCREENS */
@media only screen and (min-width: 1200px) {
    .transition-column {
      font-size: 1.25rem;
      max-width: 35vw;
    }
}

.transition-column {
    display: grid;
    gap: 25px;
}

.transition-column h4 {
    font-weight: 300;
}

.transition-column i {
    font-size: 1rem !important;
}

.transition-column p {
    font-weight: 300;
    text-align: justify;
}

.transition-section {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    padding: 5vw 0;
}
